body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto;
}
p {
    margin: 0;
}

.background-dark {
    color: white;
    background-color: #121212;
}

.background-light {
    color: black;
    background-color: rgb(216, 216, 216);
}

.object-dark {
    color: white;
    background-color: #222222;
}

.object-dark a {
    color: aqua;
}

.object-light {
    color: black;
    background-color: #efefef;
}

.text-dark {
    color: white;
}

.button {
    margin: 10px;
    margin-left: auto;
    width: 60px;
    height: 35px;
    min-width: fit-content;
    min-height: fit-content;
    border-width: 0px;
    border-radius: 7px;
    cursor: pointer;
}

.recommended-button {
    background-color: rgb(39, 201, 255);
}

.recommended-button:hover {
    background-color: rgb(118, 221, 255);
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: #00000000;
    border-width: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
}

input[type=text]:focus {
    border: 3px solid rgb(39, 201, 255);
    border-radius: 10px;
}

input[type=text]:hover {
    border: 3px solid rgb(94, 94, 94);
}

input[type=text]:focus:hover {
    border: 3px solid rgb(39, 201, 255);
    border-radius: 10px;
}