body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto;
}
p {
    margin: 0;
    font-size: 12pt;
}

.background-dark {
    color: white;
    background-color: #121212;
}

.background-light {
    color: black;
    background-color: rgb(41, 41, 41);
}

.object-dark {
    color: white;
    background-color: #222222;
}

.object-dark a {
    color: aqua;
}

.object-light {
    color: black;
    background-color: #efefef;
}

.text-dark {
    color: white;
}

.button {
    margin: 10px;
    margin-left: auto;
    width: 60px;
    height: 35px;
    min-width: fit-content;
    min-height: fit-content;
    border-width: 0px;
    border-radius: 7px;
    cursor: pointer;
}

.recommended-button {
    background-color: rgb(39, 201, 255);
}

.recommended-button:hover {
    background-color: rgb(118, 221, 255);
}

.input-dark {
    background-color: #222222;
    border: 2px solid rgb(51, 51, 51) !important;
    color: white;
}

.input-light {
    background-color: #efefef;
    border: 2px solid rgb(201, 201, 201) !important;
    color: black;
}

